body{
    margin: 0px;
}
.top-part{
    padding-left: 215px;
    padding-top: 75px;
    height: 650px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width-t{
    width: 40%;
    float: left;
    margin-left: 5px;
    
}
.half-width-t img{
    width: 100%;

}
.half-width-t h3{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Poppins';
}

.half-width-t h1{
    color: #EC4c7a;
    font-size: 50px;
    margin-top: -25px;
    font-family: 'Righteous';
}
.half-width-t p{
    text-align: justify;
    padding-bottom: 10px;
    color: #3d3c3c;
    font-family: 'Poppins';
    
}

.half-width-t a{
    border: solid 1px #d8c6c6;
    text-decoration: none;
    background-image: linear-gradient(60deg,hotpink,tomato);
    padding: 8px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600px;
}

.middle-part{
    padding-left: 250px;
    height: 600px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width-m h1{
    font-size: 30px;
    font-family: 'Poppins';


}
.half-width-m p{
    text-align: justify;
    font-family: 'Poppins';

}
.half-width-m img{
    width: 70%;

}
.half-width-m{
    width: 40%;
    padding-top: 75px;
    /* height: 500px; */
    float: left;
    margin-left: -90px;
    /* overflow: hidden; */
}
.half-width-m a{
    border: solid 1px #d8c6c6;
    text-decoration: none;
    background-image: linear-gradient(60deg,hotpink,tomato);
    padding: 8px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600px;
}
#middle-text{
    margin-left: 10px;
}
.work-part{
    text-align: center;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
}
.work-part h2{
    font-size: 34px;
    font-weight: 500px;
    font-family: 'Poppins';

}
.work-part img{
    width: 25%;
}
.sep-img{
    margin-left: 10px;
}
.client-rev{
    text-align: center;
    height: 500px;
    padding-top: 100px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.client-rev h2{
    font-size: 30px;
    font-weight: 700px;
    font-family: 'Poppins';
}
.client-rev h6{
    font-size: 15px;
    font-family: 'Poppins';
}
.client-rev p{
    width: 40%;
    text-align: center;
    font-family: 'Poppins';
    
}
.box-p{
    font-size: 15px;
    color: white;
}
.founder{
    text-align: centers;
    margin-top: -35px;
    color: #d8c6c6;
    font-size: 10px;
    font-family: 'Poppins';
}
.hire{
    padding: 20px;
    margin-top: 40px;
    border: 1px solid #d8c6c6;
    border-radius: 8px;
    width: 45%;
    background-image: linear-gradient(45deg,hotpink,tomato);
}
.email{
    font-size: 30px;
    font-weight: 700px;
    margin-left: -65px;
}

.footer-c{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    margin: 0px;
}
.footer-c p{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins';
    font-size: 10px;

}

