body{
    margin: 0px;
}
.top-part{
    padding-left: 215px;
    padding-top: 75px;
    height: 600px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width-t{
    width: 40%;
    
    float: left;
    margin-left: 5px;
    
}
.half-width-m{
    width: 40%;
    padding-top: 75px;
    /* height: 500px; */
    float: left;
    margin-left: -90px;
    /* overflow: hidden; */
}
.half-width-t img{
    width: 100%;

}
.half-width-m img{
    width: 70%;

}
.half-width-t h3{
    padding-top: 20px;
    font-size: 30px;
}
.half-width-m h1{
    font-size: 30px;

}
.half-width-t h1{
    color: #EC4c7a;
    font-size: 50px;
    margin-top: -25px;
    font-family: 'Squada One';
}
.half-width-t p{
    text-align: justify;
}
.half-width-m p{
    text-align: justify;
}
.half-width-t a{
    border: 1px solid #030303;
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC4c7a,#EC4F8F);
    padding: 8px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600px;
}
.half-width-m a{
    border: 1px solid #030303;
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC4c7a,#EC4F8F);
    padding: 8px 18px;
    border-radius: 5px;
    color: white;
    font-weight: 600px;
}

.middle-part{
    padding-left: 250px;
    height: 600px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#middle-text{
    margin-left: 10px;
}
.work-part{
    text-align: center;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
}
.work-part h2{
    font-size: 30px;
    font-weight: 500px;
}
.work-part img{
    width: 20%;
}
.sep-img{
    margin-left: 10px;
}
.client-rev{
    text-align: center;
    height: 500px;
    padding-top: 100px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.client-rev p{
    width: 40%;
    text-align: center;
}
.hire{
    padding: 20px;
    border: 1px solid #d8c6c6;
    border-radius: 8px;
    width: 40%;
    background: #EC4F8F;
}
.email{
    font-size: 30px;
    font-weight: 700px;
    margin-left: -30px;
}

.footer-c{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    margin: 0px;
}
.footer-c p{
    text-align: center;
    padding-top: 15px;
}

